:root{
    --main-orange: #ef8354;

    --main-white: #ebebebff;
    --silver: #c0c0c0ff;

    --lighter-blue: #3a6ea5ff;
    --darker-blue: #004e98ff;

    --dark: #11151c;
}

.card{
    background-color: var(--main-white);
    color: var(--dark);
    box-shadow: 5px 5px 15px 5px var(--silver);
}

.line {
    border-left: 4px solid var(--main-orange);
    margin-right: 6px;
}

.card-footer{
    color: var(--dark);
    border-top: none;
    background-color: var(--main-white);
}

/* Bottoni */
.btn-card{
    background-color: var(--main-orange);
    color: var(--main-white);
    font-weight: 500;
}
.btn-card:hover{
    background-color: #004E98;
    color: var(--main-orange);
    font-weight: 500;
}


@media only screen and (max-width: 600px) {
   #cardRow{
    justify-content: center;
   }  
}