body {
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;

}



.container-fluid#footer {

  background-color: rgba(99, 137, 173, 0.121);
  height: 100%;
  width: 100%;


}



.buttons-container {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:100%;
  flex-wrap: wrap;
}

.button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow:  9px 9px 16px rgba(138, 145, 154, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.645);
  margin-bottom: 0em;
}
   
  .button:hover {
    cursor:pointer; 
    box-shadow:  0px 0px 10px 6px rgba(0,0,0,0.1);
    color: white;
  }

  .button>a {
    color: unset;
    
  }

.facebook {
  background: unset;
  transition: 0.3s;
}
.facebook:hover {
  background: #3b5998;
}
.twitter {
  background: unset;
  transition: 0.3s;
}
.twitter:hover {
  background: #1da1f2;
}
.instagram {
  background: unset;
  transition: 0.3s;
}
.instagram:hover {
  background:linear-gradient(135deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}


#footerRegister {
  text-decoration: none;
  color: var(--darker-blue);
  transition: 0.3s;
}
#footerRegister:hover {
  text-decoration: none;
  color: var(--main-orange);
  
}
#footerItem>a{
  color: unset;
  transition: 0.3s;
}
#footerItem>a:hover {
  color: var(--main-orange);
}


/* .dropup-container {
  position: relative;
  display: inline-block;
}

.dropup-content {
  position: absolute;
  bottom: 100%;
  transform: translateY(-10px);
} */

@media only screen and (max-width: 600px) {
  #footerCol{
    display: none;
  }
}

@media only screen and (min-width: 1300px) {
  .container-fluid#footer {
    height: 400px;
  }
  #mobileChisiamo {
    display: none;
  }
}

