/* Re-center element */
.wrapper {
    margin-left: 80px;
}
/* Fixed width and height needs fixing */
.content#loginContent {
    border-radius: 15px;
    width: 26rem;
    height: 22rem;
}

.content#registerContent {
  border-radius: 15px;
  width: 26rem;
  height: 38rem;
}



aside label,
.btn {
  cursor: pointer;
}
/* Fix overlapping hidden elements */
.content__view {
  opacity: 0;
  position: absolute;
  padding: 15px 50px;
  pointer-events: none;
  width: 100%;
  transition: opacity .4s ease;
}
/* Radio button hack */
#home:checked ~ .content .content__home { opacity: 1; pointer-events: auto; }
#user:checked ~ .content .content__user { opacity: 1; pointer-events: auto; }


#home:checked ~ aside label[for="home"] svg { stroke: #fff; }
#user:checked ~ aside label[for="user"] svg { stroke: #fff; }


#home:checked ~ aside .background { transform: translateY(0); }
#user:checked ~ aside .background { transform: translateY(58px); }

/* END Radio button hack */

/* Scrolling side label */
.background {
  background: #284c72;
  width: 85px;
  height: 56px;
  position: absolute;
  right: 0;
  top: -12px;
  transform: transformY(60px);
  transition: transform .5s cubic-bezier(.87,-.41,.19,1.44);
}
/* Hide what made this possible */
input[type="radio"] {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 0;
}
/* Style */


.wrapper {
  position: relative;
}
.content {
  background: #fff;
}
.background, 
.content {
  box-shadow: 8px 8px 8px rgba(0,0,0,.2);
}
aside {
  background: #3A6EA5;
  border-radius: 15px 0px 0px 15px;
  width: 80px;
  position: absolute;
  left: -60px;
  height: 100%;
  padding-top: 70px;
}
.aside__inner {
  position: relative;
}
aside label {
  z-index: 9;
  position: relative;
  display: block;
}
aside svg {
  width: 100%;
  fill: transparent;
  stroke: #2c454f;
  stroke-width: 2px;
  margin-bottom: 20px;
  transition: stroke .4s ease;
}
aside > * {
  display: block;
}
h1#login {
  text-transform: uppercase;
  color: #2c454f;
  letter-spacing: 2px;
  font-size: 24px;
  line-height: 32px;
}
.btn#login {
  display: block;
  color: #2c454f;
  border: 2px solid;
  border-radius: 5px;
  line-height: 44px;
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
  transition: background .3s ease;
}
.btn#login:hover { 
  background: #2c5580;
  color: #fff;
}
form#login-form{
    text-align: left;
    font-size: larger;
}
form#login-form label,
form#login-form  input {
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
}
form#login-form  input {
  border: 1px solid rgba(0, 0, 0, 0.217);
  border-radius: 5px;
  text-align: left;
}

:focus {
  outline: none;
}

.container#loginId {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  /* background-color: var(--main-orange); */
  background: linear-gradient(-45deg, #ee7752, #b66656, #369dc2, #39d0ad);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}


.container#registerId {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  /* background-color: var(--main-orange); */
  background: linear-gradient(-45deg, #ee7752, #b66656, #369dc2, #39d0ad);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.btn#registerBtn {
  border: 0.3px solid var(--darker-blue);
  box-shadow: 2px 2px 3px 0px rgba(77, 77, 77, 0.48);
  background-color: #284c72;
  color: white; 
  transition: 0.5s;
}
.btn#registerBtn:hover {
  border: 0.3px solid transparent;
  background-color: #369dc2;
  color: white; 
  

}




@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@media only screen and (max-width: 600px) {
  .content#registerContent{
    margin-top: 50px;
    border-radius: 15px;
    width: 20rem;
    height: 30rem;
    
  }
  .content#loginContent{
    border-radius: 15px;
    width: 20rem;
    height: 20rem;
  }
  aside {
    display: none;
  }
  .container#registerId,.container#loginId {
    width: 50px;
  }
  .background {
    width:20rem ;
  }
  .content__view {
    padding: none;
    padding: 5px 20px;
    width: 20rem;
    text-align: center;
  }

  .wrapper {
    margin-left: 0px;
}
.content {
  background:rgba(255, 255, 255, 0.647);
  
}
form#login-form{
  text-align: center;
  font-size: larger;
}
form#login-form  input {
  border: 1px solid rgba(0, 0, 0, 0.217);
  border-radius: 5px;
  width: 100%;
  text-align: center;
}
}