:root{
    --main-orange: #ef8152;

    --main-white: #ebebebff;
    --silver: #c0c0c0ff;

    --lighter-blue: #3a6ea5ff;
    --darker-blue: #004f99;
}

/* FONT */
*{
    font-family: 'Poppins', sans-serif;
}


.nav-icon{
    width: 50px;
    height: 50px;
}


.masthead {
    height: 70vh;
    min-height: 300px;
    background-image: url('../../public/img/macchia.svg');
    background-color: var(--lighter-blue);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }

.masthead-icon{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.masthead-p{
    color: var(--main-white);
    font-size: 80px;
}

.masthead-h1{
    color: var(--main-white);
}

.masthead-image{
    width: 80%;
}

.auto-type{
    color: var(--main-orange);
}

/* BOTTONI VENDI/COMPRA */

.button-21 {
    position: absolute;
    top: 100px;
    width: 12rem;
    align-items: center;
    appearance: none;
    background-color: #3a6ea5ff;
    background-image: linear-gradient(1deg, #ef8354, #3a6ea5ff 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.8rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }
  
  .button-21:active,
  .button-21:focus {
    outline: none;
  }
  
  .button-21:hover {
    background-position: -20px -20px;
  }
  
  .button-21:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
  }


  @media only screen and (max-width: 600px) {
    .masthead-icon{
      display: none;
    }
    .masthead-image{
      display: none;
    }
    .button-21{
      width: 10rem;
      top: 50px;
    }
    .masthead-h1{
      margin-top: 50px;
    }
    .masthead-p{
      color: var(--main-white);
      font-size: 60px;
    }

  }