:root{
    --main-orange: hsl(18, 83%, 63%);

    --main-white: #ebebebff;
    --silver: #c0c0c0ff;

    --lighter-blue: #3a6ea5ff;
    --darker-blue: #004f99;
}

/* FONT */
*{
    font-family: 'Poppins', sans-serif;
}

/* BOTTONI CATEGORIE */

.button-82-pushable {
    width: 80px;
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(209deg 100% 16%) 0%,
      hsl(209deg 100% 32%) 8%,
      hsl(209deg 100% 32%) 92%,
      hsl(209deg 100% 16%) 100%
    );

  }
  
  .button-82-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 12px 12px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: var(--lighter-blue);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  
  }
  .category-name {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    width:230px;
  }

 
  
  .button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }
  
  .button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:focus:not(:focus-visible) {
    outline: none;
  }

/* CATEGORY */

.category-choice{
    height: 14vh;
    background-color: var(--main-orange);

}

/* #catName {
  position: absolute;
  color: var(--main-orange);
  text-align: center;
  
}

.button-82-pushable:hover,
  h6#catName {
    color: white;

} */


/* prova bottone gpt3 */
.button-82-front .category-name {
  display: none;
}



/* end prova bottone */

.button-82-front>i {
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  .category-choice{
    height: 35vh;
  }

}
@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 12px;
  }

}
@media only screen and (max-width: 1300px) {
  .button-82-front>i {
    font-size: 30px;
  }
  .button-82-pushable {
    width: auto;
  }

}
