.masthead-others {
    height: 25vh;
    min-height: 300px;
    background-image: url('../../public/img/macchia.svg');
    background-color: var(--lighter-blue);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.btn-masthead{
    background-color: var(--main-orange);
    color: var(--main-white);
    font-weight: 500;
    font-size: 30px;
    width: 200px;
    height: 50px;
}
.btn-masthead:hover{
    background-color: var(--lighter-blue);
    color: var(--main-orange);
    font-weight: 500;
}

.mobile-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-others{
    height: 200px;
    margin-top: 75px;
}

@media only screen and (max-width: 600px) {
.img-others{
    display: none;
}
.mobile-button{
    margin-top: 110px;
    flex-direction: column;

}
}
