.alert-orange{
    background-color: var(--main-white);
    color: var(--main-orange);
}
.alert-blue{
    background-color: var(--lighter-blue);
    color: var(--main-white);
}

.alert-home{
    top: 70px !important;
    z-index: 100;
}
