.mynavbar {
    transition: 0.2s;
}

.add-bg {
    background: #004E98;
}

.btn-nav {
    border: 1px solid #ebebebff;
    color: #ebebebff;
}

.btn-nav:hover {
    border: 1px solid #ef8354;
    color: #ef8354;
}

.btnBorder {
    border: 1px solid white;
    color: white;
}

.btnBorder:hover {
    border: 1px solid #C0C0C0;
    color: #C0C0C0;
}



.fontBold {
    font-weight: 600;
}

.dropdown-toggle:focus{
    color: #ef8354;
}

.navlink, .navBrand {
    color:#ebebebff;
}
    
.navlink:hover {
    color: #ef8354;
}

.navBrand:hover {
    color: #ef8354;
}

.navlinkscroll {
    color:#EBEBEB;
}

.navlinkscroll:hover{
    color: #C0C0C0;
}



@media only screen and (max-width: 600px) {
    .mynavbar{
        background-color: var(--darker-blue);
    }
}
.navbar-toggler{
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1px;
    color: var(--main-orange);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}
