:root{
--main-blue80: #0077b6ff;
--main-blue60: #0096c7ff;
--main-blue40: #00b4d8ff;
--main-blue20: #48cae4ff;
--light-blue: #caf0f8ff;
}

/* FONT */

body{
    font-family: 'Poppins', sans-serif;
    background-color: #dadad559;
}

h1{
    color: var(--main-orange);
}
h2, h3, h4{
    color: var(--darker-blue);
}

.container-custom{
    margin-top: 30px;
    margin-bottom: 40px;
}

.page-link{
    color: var(--darker-blue);
}
.active>.page-link, .page-link.active {
    color: var(--darker-blue);
    background-color: var(--main-white);
    border-color: var(--silver);
}


.img-show{
    border: 2px solid rgba(231, 228, 225, 0);
    border-radius: 10px;
    /* box-shadow: 5px 5px 15px 5px rgba(168, 166, 166, 0.599); */
    box-shadow: rgba(0, 79, 153, 0.4) -5px 5px, rgba(0, 79, 153, 0.3) -10px 10px, rgba(0, 79, 153, 0.2) -15px 15px, rgba(0, 79, 153, 0.1) -20px 20px, rgba(0, 79, 153, 0.05) -25px 25px;
}

.btn-price{
    border-radius: 5px;
    border-color: transparent;
    background-color: var(--darker-blue);
    color: rgb(255, 255, 255);
    box-shadow: 3px 3px 6px 3px rgba(163, 163, 163, 0.321);
}

#dropdownCategory{
    /* background-color: var(--main-orange);
    text-align: center; */
    display: none;
}
#categoryBtnDrop:active{
    border: none;
}
#categoryBtnDrop:hover{
    border: none;
}

@media only screen and (max-width: 600px) {
    #categoryBar{
    display: none;
    }
    .img-show {
        border-radius: 10px;
        box-shadow: none;
    }
}

@media only screen and (max-width: 600px){
    #cardCat {
    justify-content: center;
    }
}

/* @media only screen and (min-width : 600px){
    #dropdownCategory{
        display: none;
    }
} */